* {
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(38, 38, 216), rgb(10, 10, 100));
    font-family: 'Arial', sans-serif;
  }
  
  #open-calendar {
    padding: 15px 40px;
    font-size: 1.5em;
    border-radius: 25px;
    font-weight: 600;
    color: #fff;
    border: none;
    background: linear-gradient(90deg, rgba(0, 128, 255, 0.8), rgba(0, 64, 255, 1));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  
    &:hover {
      transform: scale(1.05);
      background: linear-gradient(90deg, rgba(0, 150, 255, 1), rgba(0, 80, 255, 1));
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    }
  
    &:active {
      transform: scale(0.95);
      background: linear-gradient(90deg, rgba(0, 100, 255, 1), rgba(0, 50, 200, 1));
    }
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .hidden {
    display: none;
  }
  
  .modal-content {
    background: #fff;
    padding: 0 1%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    width: 50%;
    max-width: 96%;
    height: 80vh;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    border: .4em solid #fff;
    transform: scale(0.8);
    animation: scaleUp 0.3s ease-in-out forwards;
  }
  
  #modal-body {
    max-height: calc(100% - 6em);
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    position: relative;

    h2 {
      margin: 0.3em 0 0 0;
    }
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 1.2em;
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    z-index: 2222;
    cursor: pointer;
    transition: color 0.3s ease;
  
    &:hover {
      color: #ff0000;
    }
  }
  
  @keyframes fadeIn {
    from {
      background-color: rgba(0, 0, 0, 0);
    }
    to {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  
  /* Стили для скроллбара */
  #modal-body::-webkit-scrollbar {
    width: 12px;
    border-radius: 15px;
    margin-left: 100px;
  }
  
  #modal-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
  
  #modal-body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
  }
  
@media screen and (max-width: 1024px) {
  .modal-content {
    width: 70%;
  }  
}
@media screen and (max-width: 768px) {
  .modal-content {
    width: 80%;
  }  
}
@media screen and (max-width: 580px) {
  .modal-content {
    width: 98%;
    min-height: 98vh;
  }  
}
